:root {
  --c-black: #000000;
  --c-semi-black: #0d0d0d;
  --c-secondary: #A3B18A;
  --c-primary: #8E260E;
  --c-light-terracotta: #CE664D;
  --c-dark-terracotta: #3F0C00;
  --c-white: #ffffff;
  --c-dark-brown: #292929;
  --c-background: #E4E4ED;

  --f-font-title: 'Homemade Apple', cursive;
  --f-font-text: 'Roboto Serif Variable', serif;

  --t-transition: 0.3s;

  --s-border-radius: 0.4375rem;

  --s-font-h1: 3.5rem;
  --s-font-h1-mobile: 2.5rem;
  --s-font-h2: 3rem;
  --s-font-h2-mobile: 2rem;
  --s-font-h3: 2rem;
  --s-font-h3-mobile: 1.5rem;
  --s-font-h4: 1.5rem;
  --s-font-h4-mobile: 1.3125rem;
  --s-font-p: 1.125rem;
  --s-font-cta: 1rem;
  --s-font-small: 0.875rem;
  --s-margin: 7rem;
  --s-margin-mobile: 3rem;
  --s-padding: 7rem;
  --s-padding-mobile: 1.5rem;
}